<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->
	
	<bean id="appFrame" class="sh.roadmap.tavi.weatherapi.gui.MainFrame" init-method="init">
		<property name="mainBar" ref="mainBar"/>
		<property name="response" ref="responseLabel"/>
	</bean>
	<bean id="mainBar" class="sh.roadmap.tavi.weatherapi.gui.MainBar"/>
	<bean id="responseLabel" class="sh.roadmap.tavi.weatherapi.gui.ResponseLabel">
		<property name="mainBar" ref="mainBar"/>
	</bean>
	<bean id="requestBuilder" class="sh.roadmap.tavi.weatherapi.service.RequestBuilder">
		<property name="config" ref="requestConfig"/>
	</bean>
	<bean id="requestConfig" class="sh.roadmap.tavi.weatherapi.service.RequestConfig">
		<property name="propertiesFile" value="weather-api"/>
	</bean>
	
</beans>