<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->
	
	<bean id="appFrame" class="sh.roadmap.tavi.weatherapi.gui.AppFrame" init-method="init">
		<property name="settingsBar" ref="settingsBar"/>
		<property name="requestBar" ref="requestBar"/>
		<property name="response" ref="responsePanel"/>
		<property name="uiObserver" ref="uiObserver"/>
	</bean>
	<bean id="requestBar" class="sh.roadmap.tavi.weatherapi.gui.RequestBar" init-method="init">
		<property name="response" ref="responsePanel"/>
		<property name="requestBuilder" ref="requestBuilder"/>
		<property name="uiFactory" ref="uiFactory"/>
	</bean>
	<bean id="responsePanel" class="sh.roadmap.tavi.weatherapi.gui.ResponsePanel" init-method="init">
		<property name="uiFactory" ref="uiFactory"/>
	</bean>
	<bean id="requestBuilder" class="sh.roadmap.tavi.weatherapi.service.RequestBuilder">
		<property name="config" ref="requestConfig"/>
	</bean>
	<bean id="requestConfig" class="sh.roadmap.tavi.weatherapi.service.RequestConfig">
		<property name="propertiesFile" value="weather-api"/>
	</bean>
	<bean id="uiFactory" class="sh.roadmap.tavi.weatherapi.gui.locale.UiFactory">
		<property name="observer" ref="uiObserver"/>
	</bean>
	<bean id="uiObserver" class="sh.roadmap.tavi.weatherapi.gui.locale.UiObserver"/>
	<bean id="localeScanner" class="sh.roadmap.tavi.weatherapi.gui.locale.LocaleScanner"/>
	<bean id="settingsBar" class="sh.roadmap.tavi.weatherapi.gui.SettingsBar" init-method="init">
		<property name="localeScanner" ref="localeScanner"/>
		<property name="uiObserver" ref="uiObserver"/>
	</bean>
	
</beans>